* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.x {
  padding: 5px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background: #e8e8e8;
  padding: 5px;
  font-family: monospace;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
  align-items: center;
}

button {
  outline: none;

  padding: 8px 15px;
  border: 1px solid black;

  background-color: transparent;

  cursor: pointer;
}
